<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Portafolio Personal</title>

    
</head>
<body>
    <header>
        <h1>Tu Nombre</h1>
        <p>Desarrollador Web | Diseñador Gráfico | Creativo</p>
        <nav>
            <ul>
                <li><a href="#about">Sobre mí</a></li>
                <li><a href="#projects">Proyectos</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-content">
        <section id="about" class="about">
            <h2>Sobre mí</h2>
            <p>Hola, soy Dennis Marlon Cuestas Ricapa. Soy un apasionado desarrollador web con experiencia en diversas tecnologías y diseño. Me encanta crear experiencias web interactivas y atractivas.</p>
            <img src="{{url_for('static',filename='images/foto.png')}}">
        </section>

        <section id="projects" class="projects">
            <h2>Proyectos</h2>
            <div class="project">
                <h3>Proyecto 1</h3>
                <p>Descripción breve del proyecto. Aquí puedes detallar el trabajo realizado, las tecnologías usadas y el impacto.</p>
            </div>
            <div class="project">
                <h3>Proyecto 2</h3>
                <p>Descripción breve del proyecto. Aquí puedes detallar el trabajo realizado, las tecnologías usadas y el impacto.</p>
            </div>
            <div class="project">
                <h3>Proyecto 3</h3>
                <p>Descripción breve del proyecto. Aquí puedes detallar el trabajo realizado, las tecnologías usadas y el impacto.</p>
            </div>
        </section>

        <section id="contact" class="contact">
            <h2>Contacto</h2>
            <p>Si te interesa trabajar conmigo o simplemente quieres ponerte en contacto, puedes enviarme un correo a:</p>
            <p><strong>email@dominio.com</strong></p>
        </section>
    </div>

    <footer>
        <p>&copy; 2025 Tu Nombre. Todos los derechos reservados.</p>
    </footer>
    i
</body>
</html>